<div class="row">
  <div class="col-sm-6">
    <div class="well">
      <%= form_for(@user, url: update_account_user_path(@user), method: 'POST') do |f| %>
        <h5 class="confidential"><i class="dicon-lock"></i>Ces données sont là. <%= t('hello') %></h5>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group select required account_gender">
              <!-- <label class="select required control-label sr-only" for="account_gender"> -->
              <!-- <abbr title="requis">*</abbr> Genre</label> -->
              <%= f.select :gender, User::GENDERS.collect { |p| [ p, p ] }, { include_blank: true }, class: 'select form-control' %>
            </div>
          </div>
          <div class="col-md-4 form-group space string required account_first_name">
            <!-- <label class="string required control-label sr-only" for="account_first_name"><abbr title="requis">*</abbr> Prénom</label> -->
            <%= f.text_field :first_name, class: 'string required form-control', placeholder: 'Prénom' %>
          </div>
          <div class="col-md-5 form-group space string required account_last_name">
            <!-- <label class="string required control-label sr-only" for="account_last_name"><abbr title="requis">*</abbr> Nom de famille</label> -->
            <%= f.text_field :last_name, class: 'string required form-control', placeholder: 'Nom' %>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-12 form-group email required account_email">
            <!-- <label class="email required control-label sr-only" for="account_email"><abbr title="requis">*</abbr> Email</label> -->
            <%= f.email_field :email, autofocus: true, placeholder: 'Adresse email', class: 'string email required form-control' %>
          </div>
        </div>
        <div class="row form-row">
          <div class="col-md-12 form-group">
            <a data-toggle="modal" class="pull-right" data-target="#passwordmod" href="#" style="color: black;">Modifier mon mot de passe</a>
          </div>
        </div>
        <hr>
    <div class="row form-row">
      <div class="col-md-4 form-group">
        <label class="control-label">Date de naissance</label>
      </div>
      <div class="col-md-8 date-selects">
        <div class="form-group date required account_birthdate">
          <div class="form-inline">
            <%= fields_for(@user.client) do |c| %>
              <%= c.date_select :birthdate, {order: [:month, :day, :year], prompt: { day: 'Select day', month: 'Select month', year: 'Select year' }, start_year: Date.today.year - 18, end_year: Date.today.year - 100}, {class: 'date required form-control'} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= fields_for(@user.client) do |c| %>
      <div class="row form-row">
        <div class="col-md-12 form-group string optional account_master_patient_address">
          <!-- <label class="string optional control-label sr-only" for="account_master_patient_address">Adresse</label> -->
          <%= c.text_field :address, class: 'string optional form-control', placeholder: 'Adresse' %>
        </div>
      </div>
      <div class="row form-row">
        <div class="col-md-4 form-group string optional account_master_patient_zipcode">
          <!-- <label class="string optional control-label sr-only" for="account_master_patient_zipcode">Code postal</label> -->
          <%= c.text_field :postal_code, class: 'string optional form-control', placeholder: 'Code postal' %>
        </div>
        <div class="col-md-8 form-group space string optional account_master_patient_city">
          <!-- <label class="string optional control-label sr-only" for="account_master_patient_city">Ville</label> -->
          <%= c.text_field :city, class: 'string optional form-control', placeholder: 'Ville' %>
        </div>
      </div>
      <hr>
      <div class="row form-row">
        <div class="col-md-6 form-group tel required account_phone_number">
          <!-- <label class="tel required control-label sr-only" for="account_phone_number"> -->
          <!-- <abbr title="requis">*</abbr> Téléphone portable</label> -->
          <%= c.text_field :phone, class: 'string tel required form-control', placeholder: 'Téléphone' %>
        </div>
      </div>
    <% end %>
    <%= f.submit "Enregistrer", class: 'btn' %>
    <% end %>
    </div>

  <form class="well ng-pristine ng-valid" id="edit_account_2648850" action="/account" accept-charset="UTF-8" method="post" novalidate="novalidate">
    <h4>Suppression de votre compte Ptrainer</h4><p>Si vous ne souhaitez plus utiliser Ptrainer, vous avez la possibilité de supprimer votre compte.<br>Cette action irréversible aura pour effet d'effacer vos données personnelles et de connexion de la base de données de Ptrainer.</p><input type="submit" name="commit" value="Supprimer mon compte" class="btn btn-cta btn-danger" data-confirm="Cette action n'est pas réversible.
    Êtes-vous sûr(e) de vouloir supprimer votre compte ?" data-disable-with="Suppression...">
  </form>
  </div>
</div>

<%= render file: 'users/passwords/edit' %>
